@import "tailwindcss";

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

/* Custom scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-purple-500\/50::-webkit-scrollbar-thumb {
  background-color: rgba(168, 85, 247, 0.5);
  border-radius: 9999px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

/* Message */
.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.message h1, .message h2, .message h3, .message h4, .message h5, .message h6 {
  font-weight: bold;
}

.message ol, .message ul {
  list-style: disc;
  margin-left: 5px;
}

.message b, .message strong {
  font-weight: bold;
}