@import "tailwindcss";

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

/* Custom scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-purple-500\/50::-webkit-scrollbar-thumb {
  background-color: rgba(168, 85, 247, 0.5);
  border-radius: 9999px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

/* Message */
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message p, .message b, .message a {
  font-size: 15px;
  margin-bottom: 0;
} 

.message a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.message h1, .message h2, .message h3, .message h4, .message h5, .message h6 {
  font-weight: bold;
}

.message ol, .message ul {
  list-style: disc;
  margin-left: 5px;
}

.message b, .message strong {
  font-weight: bold;
}

/* Widget header */
.widget-header h3, .widget-header p {
  margin-bottom: 0;
}

.widget-header h3 {
  font-size: 1.25rem;
}

.widget-header p {
  font-size: .875rem;
}

/* Chatbot input*/
.chatbot-input textarea {
  min-height: 60px!important;
  max-height: 100px;
  border-radius: 10px;
  /* border: solid 1px rgba(168, 85, 247, 0.5); */
  outline: none;
}

.chatbot-input textarea:focus {
  outline: none;
}

/* Chatbot open button */
.chatbot-open-btn {
  display: flex;
  /* background-image: linear-gradient(
    to right,
    #9333ea, 
    #2563eb  
  ); */
}

/* .chatbot-open-btn:hover {
  background-image: linear-gradient(
    to right,
    #7e22ce, 
    #1d4ed8  
  );
} */